.main-contact {
    width: 100%;
}
.main-contact .main-content {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}
.main-contact .main-content .main-banner {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100vh;
    align-items: center;
}

.main-contact .main-content .main-banner .main-highlight {
    padding-left: 40px;
    background: var(--color-blue-6);
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}
.main-contact .main-content .main-banner .main-highlight .cover {
    display: flex;
}
.main-contact .main-content .main-banner .main-highlight .description {
    color: var(--color-white);
    font-size: 20px;
    width: 450px;
}
.main-contact .main-content .main-banner .main-form {
    background: var(--color-blue-7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-form-tag {
    width: 560px;
    height: 497px;
    border-radius: 10px;
    border: 3px solid var(--color-white);
    background: var(--color-blue-2);
}
.main-form-tag .title {
    color: var(--color-white);
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.main-form-tag .field {
    position: relative;
}
.main-form-tag .field .validate-message {
    position: absolute;
    bottom: 100%;
    left: 30px;
    color: #f32c12;
}
.main-form-tag .field input {
    transition: 200ms;
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-blue-5);
    padding: 0 10px;
    outline: none;
    color: var(--color-blue-1);
    font-size: 18px;
    border: none;
    margin-bottom: 24px;
    margin-left: 30px;
    margin-right: 30px;
}
.main-form-tag .field input::placeholder {
    color: var(--color-blue-1);
    font-size: 18px;
}
.main-form-tag .field textarea {
    transition: 200ms;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    height: 140px;
    min-height: 140px;
    max-height: 140px;
    border-radius: 10px;
    background: var(--color-blue-5);
    outline: none;
    border: none;
    padding: 10px;
    color: var(--color-blue-1);
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
}
.main-form-tag .field textarea::placeholder {
    color: var(--color-blue-1);
    font-size: 18px;
}
.main-form-tag .field input:focus,
.main-form-tag .field textarea:focus {
    box-shadow: 0 0 10px #1218b1, 0 0 10px #1218b1, 0 0 10px #1218b1,
        0 0 10px #1218b1, 0 0 10px #1218b1, 0 0 10px #1218b1, 0 0 10px #1218b1,
        0 0 10px #1218b1, 0 0 10px #1218b1, 0 0 30px #1218b1;
}
.main-form-tag button {
    transition: 200ms;
    width: 95px;
    height: 40px;
    border-radius: 10px;
    background: var(--color-blue-3);
    box-shadow: 0px 0px 10px 0px #000;
    color: var(--color-white);
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 30px;
}
.main-form-tag button:hover {
    background: #1218b1;
    box-shadow: 0px 0px 10px 0px #1218b1;
}
@media (max-width: 1300px) {
    .main-contact .main-content .main-banner .main-highlight {
        display: none;
    }
    .main-contact .main-content .main-banner {
        display: flex;
    }
    .main-form-tag {
        width: calc(100% - 40px);
        max-width: 560px;
    }
    .main-form-tag .title {
        text-align: center;
    }
    .main-form-tag .field {
        text-align: center;
    }
    .main-form-tag .field input {
        width: calc(100% - 40px);
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
    }
    .main-form-tag .field input::placeholder {
        font-size: 14px;
    }
    .main-form-tag .field textarea {
        width: calc(100% - 40px);
        max-width: calc(100% - 40px);
        min-width: calc(100% - 40px);
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
    }
    .main-form-tag .field textarea::placeholder {
        font-size: 14px;
    }
    .main-form-tag .field .validate-message {
        left: 20px;
    }
}
