* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

:root {
    --color-blue-1: #040628;
    --color-blue-2: #090d42;
    --color-blue-3: #0e1272;
    --color-blue-4: #161bcf;
    --color-blue-5: #e9eaff;
    --color-blue-6: #0b0e32;
    --color-blue-7: #07092b;
    --color-white: #ffffff;
    --color-black: #000000;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--color-blue-1);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: var(--color-blue-1);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-4);
}
