.banner {
    min-height: 100vh;
    background: url("/banner-background.png") var(--color-blue-1) 50% / cover
        no-repeat;
    position: relative;
}
.banner .title {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    bottom: 29.94791667%;
    width: 1080px;
    text-align: center;
    left: calc(50% - 1080px / 2);
    text-shadow: 0 0 3.5px var(--color-black), 0 0 3.5px var(--color-black),
        0 0 3.5px var(--color-black), 0 0 3.5px var(--color-black),
        0 0 3.5px var(--color-black);
}
@media (max-width: 1250px) {
    .banner .title {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        top: 90px;
        width: 320px;
        left: 20px;
        text-align: left;
    }
}
.banner .logo-medium {
    position: absolute;
    bottom: 19.53125%;
    width: 300px;
    left: calc(50% - 300px / 2);
}
